*.pyc
src/final/data
src/final/figs/other
src/final/pastebin1.py
src/final/test.png
src/Golf_Ball_py_modules/cpforces.py
src/Golf_Ball_py_modules/cpode.py
src/Golf_Ball_py_modules/euler.py
src/Golf_Ball_py_modules/golf_ball.py
src/Golf_Ball_py_modules/oscillations.py
src/Golf_Ball_py_modules/v3.py
src/midterm/midterm_Point_Charge.py
src/Forces.py
src/Vector_3D.py
