*.pyc
src/final
src/final
src/final/data
src/final/figs
src/final/figs/2012-05-02-14::53::48.pdf
src/final/figs/2012-05-02-14::53::48.png
src/final/figs/2012-05-02-15::04::08.png
src/final/figs/2012-05-02-15::10::38.png
src/final/figs/2012-05-02-15::47::56.png
src/final/figs/2012-05-02-16::08::52.png
src/final/figs/2012-05-02-16::16::22_C.png
src/final/figs/2012-05-02-16::16::22.png
src/final/figs/2012-05-02-17::01::21_C.png
src/final/figs/2012-05-02-17::08::30_C.png
src/final/figs/2012-05-02-17::11::45_C.png
src/final/figs/2012-05-02-17::19::53_C.png
src/final/figs/2012-05-02-17::38::39_C&M.png
src/final/figs/2012-05-02-18::16::41_C&M.png
src/final/figs/2012-05-02-18::41::48_C&M.png
src/final/figs/2012-05-02-18::44::04_C&M.png
src/final/figs/2012-05-02-18::45::16_C&M.png
src/final/figs/2012-05-02-18::45::32_C&M.png
src/final/figs/2012-05-02-18::47::09_C&M.png
src/final/__init__.py
src/final/generate_lattice.py
src/final/Lattice.py
src/final/pastebin1.py
src/final/plot_lattice.py
src/final/test.png
src/midterm
src/Forces.py
src/Grapher_v1.py
src/ODE_Solver_v1.py
src/ODE_Solver_v2.py
src/ODE_Solver_v3.py
src/Vector_3D.py
src/Golf_Ball_py_modules/cpforces.py
src/Golf_Ball_py_modules/cpode.py
src/Golf_Ball_py_modules/euler.py
src/Golf_Ball_py_modules/golf_ball.py
src/Golf_Ball_py_modules/oscillations.py
src/Golf_Ball_py_modules/v3.py
src/final/__init__.py
src/final/__init__.py
