*.pyc
src/final/data
src/final/figs/2012-05-02-14::53::48.pdf
src/final/figs/2012-05-02-14::53::48.png
src/final/figs/2012-05-02-15::04::08.png
src/final/figs/2012-05-02-15::47::56.png
src/final/figs/2012-05-02-16::08::52.png
src/final/figs/2012-05-02-16::16::22_C.png
src/final/figs/2012-05-02-16::16::22.png
src/final/figs/2012-05-02-17::01::21_C.png
src/final/figs/2012-05-02-17::08::30_C.png
src/final/figs/2012-05-02-17::11::45_C.png
src/final/figs/2012-05-02-17::19::53_C.png
src/final/figs/2012-05-02-17::38::39_C&M.png
src/final/figs/2012-05-02-18::41::48_C&M.png
src/final/figs/2012-05-02-18::44::04_C&M.png
src/final/figs/2012-05-02-18::45::16_C&M.png
src/final/figs/2012-05-02-18::45::32_C&M.png
src/final/figs/2012-05-02-18::47::09_C&M.png
src/final/pastebin1.py
src/final/test.png
src/Forces.py
src/Vector_3D.py
src/Golf_Ball_py_modules/cpforces.py
src/Golf_Ball_py_modules/cpode.py
src/Golf_Ball_py_modules/euler.py
src/Golf_Ball_py_modules/golf_ball.py
src/Golf_Ball_py_modules/oscillations.py
src/Golf_Ball_py_modules/v3.py
src/midterm/midterm_Point_Charge.py
src/final/pastebin1.py
src/final/test.png
